.body {
  background-color: rgb(23, 29, 34);
  color: white;
  font-family: 'Otomanopee One', sans-serif;
}

.main {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title {
    margin-left: 0;
    margin-bottom: 30px;
    color: rgb(224, 224, 224);
    text-transform: uppercase;
    &--fav {
      margin: 10px;
      margin-top: 30px;
    }
    &--results {
      margin: 20px;
      margin-top: 30px;
    }
  }
  &__form {
    &--input {
      border-radius: 2em;
      border: none;
      width: 400px;
      height: 30px;
      margin-bottom: 30px;
      padding-left: 20px;
      margin-right: 20px;
      margin-left: 30px;
    }
    &--btn {
      height: 30px;
      width: 70px;
      border: none;
      border-radius: 2em;
      background-image: linear-gradient(
        to right,
        #0070cc 0%,
        #0043fc69 51%,
        #0278ff 100%
      );
      transition: 0.5s;
      background-size: 200% auto;
      // background-color: rgb(64, 188, 244);
      color: white;
      font-weight: bold;
      margin-right: 5px;
      &:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
        background-color: rgb(94, 29, 124);
      }
    }
  }

  &__container {
    width: 100%;
    display: flex;

    &--fav {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      height: 100%;

      margin-top: 20px;
      border-radius: 2em;
      background: linear-gradient(
        90deg,
        rgba(19, 62, 179, 0.541),
        rgba(91, 9, 116, 0.568)
      );
      margin-right: 20px;
    }
    &--results {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 2em;
      margin-top: 20px;

      background-color: #3f3f3f41;
    }
  }
  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
  }
  &__article {
    margin: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      border-radius: 30px; /*1*/
      border: 7px solid transparent; /*2*/
      background: linear-gradient(
          90deg,
          rgba(52, 223, 18, 0.233),
          rgba(167, 201, 14, 0.425)
        )
        border-box;
    }
    &--fav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &--image {
      border-radius: 1.7em;
      width: 180px;
      height: 250px;
      box-shadow: 2px 4px 6px 2px rgba(26, 26, 26, 0.856);
    }

    &--title {
      margin-top: 20px;
      width: 200px;
      text-align: center;
    }

    &--dltbtn {
      border-radius: 50%;
      border: none;
      width: 25px;
      height: 25px;
      background-color: red;
      color: white;
      margin: 20px;
      &:hover {
        background-color: rgb(146, 2, 2);
      }
    }
  }
  &__favorite--reset {
    border-radius: 2em;
    border: none;
    width: 80px;
    height: 25px;
    background-color: rgb(0, 184, 55);
    color: white;
    margin-bottom: 20px;
    &:hover {
      background-color: rgba(31, 128, 31, 0.87);
    }
  }
}
.fav__section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &--images {
    border-radius: 1.7em;
    width: 180px;
    height: 250px;
  }
}

.favorites {
  margin: 20px;

  &:hover {
    border: none;
    color: white;
  }
}

.fav {
  border-radius: 30px; /*1*/
  border: 7px solid transparent; /*2*/
  background: linear-gradient(
      90deg,
      rgba(19, 62, 179, 0.541),
      rgba(91, 9, 116, 0.568)
    )
    border-box; /*3*/
  color: rgb(255, 255, 255);
}
